/* .component-job-tile {
     min-width: 18rem;
     width: 18rem;
     height: 100%;
}
.job-row {
    justify-content: center;
}
.job-col {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0.5rem;
} */